nav {
  background: white;
}

header {
  background: burlywood;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#CustomButtonBoxRegister {
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0093cc;
  font-weight: 600;
}

#processItem {
  margin: "auto";
}

.inactive {
  color: #fff;
  text-decoration: none;
}

.active {
  color: red;
  text-decoration: none;
}

#contact {
  background: #00274e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  text-align: left;
}

#contact .contact-details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 700px) {
  #contact .contact-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #contact .contact-details div {
    margin: 10px 0;
  }
}

#contact .contact-details .socials {
  position: relative;
}

#contact .p {
  color: white;
}

#contact .icons {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

#contact .icons img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}

#contact .logo img {
  height: 250px;
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.coverDiv {
  width: 100%;
  height: auto;
}

#coverimg {
  height: auto;
  width: 100%;
}

#tsslogo {
  height: 100px;
  margin: 10px;
}

#sublogo {
  height: 150px;
  margin: 10px;
  margin-bottom: 100px;
}

#buttondivbox {
  margin: auto;
}

#buttondivbox #CustomButtonBox {
  background: rgba(0, 0, 0, 0.24);
  border-radius: 0;
  margin: 10px;
}

.sect {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectchild {
  width: 100%;
  margin: auto;
}

.maindiv {
  width: 100%;
  height: 50vh;
}

.container2 {
  width: 100%;
  height: 40vh;
  position: relative;
}

.box {
  width: 100%;
  height: 40vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #ececec;
  -webkit-clip-path: polygon(55% 0, 60% 17%, 100% 15%, 100% 81%, 50% 100%, 0 79%, 0 15%);
          clip-path: polygon(55% 0, 60% 17%, 100% 15%, 100% 81%, 50% 100%, 0 79%, 0 15%);
}

.boxprize {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  background: #ececec;
}

.box2prize {
  z-index: 9;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: table-cell;
  vertical-align: middle;
}

.box2childprizze {
  width: 60%;
  height: 10%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
}

.box2 {
  z-index: 9;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: table-cell;
  vertical-align: middle;
}

.box2child {
  width: 60%;
  height: 10%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.boxnoi {
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #ececec;
  -webkit-clip-path: polygon(50% 21%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
          clip-path: polygon(50% 21%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
}

.box2noi2 {
  z-index: 9;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  align-items: center;
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}

#tswlogo {
  margin-top: 100px;
  margin: auto;
  height: 80px;
  padding: 0%;
}

#para {
  margin: auto;
  width: 60%;
  font-size: 0.7rem;
}

.coverbox2 {
  position: absolute;
  top: 75%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
}

#orangeButton {
  background: white;
  color: #ff4400;
  border-radius: 0;
  border-color: grey;
  color: transparent;
}

#schtr {
  padding: 10px;
  margin: auto;
}

#schtd {
  margin: 10px;
  padding: 10px;
}

#prizebg {
  height: 100px;
  width: autos;
}

#resc {
  width: 100%;
  height: 50vh;
}

.coverbgimg {
  height: 40vh;
  width: auto;
}

.cuscont {
  position: relative;
  text-align: center;
  color: white;
  display: -ms-grid;
  display: grid;
}

.cuscent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#przicon {
  height: 100px;
}

@media only screen and (max-width: 700px) {
  .coverDiv {
    width: 100%;
    height: 20vh;
  }
  .box {
    width: 100%;
    height: 40vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    background: #ececec;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  #tswlogo {
    margin-top: 100px;
    height: 50px;
  }
  #para {
    margin-top: 20px;
    margin: auto;
    width: 90%;
    font-size: 0.7rem;
  }
  .coverbox2 {
    position: absolute;
    top: 30%;
    left: 25%;
    -webkit-transform: translate(-35%, -50%);
            transform: translate(-35%, -50%);
    display: -ms-grid;
    display: grid;
  }
  #tsslogo {
    height: 40px;
  }
  #sublogo {
    height: 150px;
    margin: 10px;
  }
  #sublogo {
    height: 60px;
  }
  #CustomButtonBox {
    padding: 0px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 0.7rem;
  }
  .box2child {
    width: 60%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  #resc {
    height: 200px;
    width: 100%;
  }
  #przicon {
    margin-top: 10px;
    height: 40px;
  }
  #prziconquote {
    font-size: 0.6rem;
  }
  #prziconquotelast {
    font-size: 0.3rem;
  }
  .coverbgimg {
    height: 30vh;
    width: auto;
  }
  #processItem {
    margin-top: 30px;
    margin-bottom: 30px;
    margin: "auto";
    padding: 5px;
    height: 130px;
  }
  #bulletItems tr td {
    font-size: 0.7rem;
  }
}

#processItem {
  margin-top: 30px;
  margin-bottom: 30px;
  margin: "auto";
  padding: 5px;
}

#bulletItems {
  width: 70%;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */